@font-face {
    font-family: 'LemonMilkRegular';
    src: url('fonts/LEMONMILK-Regular.otf');
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: white;
    font-family: 'LemonMilkRegular', Arial, sans-serif;
}

button {
    background-color: #2a2a2a;
    color: white;
    border: 1px solid #555;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    font-family: 'LemonMilkRegular', Arial, sans-serif;
    font-size: 20px;
    width: 50px;
    height: 50px;
}

    button:hover {
        background-color: #3a3a3a;
    }

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 60px;
    margin: 0 auto 15px auto;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    background: #444;
    color: white;
}

.calculator {
    background: #2b2b2b;
    width: 500px;
    height: 450px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: fit-content;
    margin: 0 auto;
}

.clear {
    grid-column: span 4;
    width: 240px;
}